#container-form {height:100%;max-width:100%;margin:0;overflow:hidden;background:rgba(0,10,20,1) url(https://i.imgur.com/r838U7u.jpg) center no-repeat;background-size:cover;image-rendering: pixelated; font-family:sans-serif}

#space{width:100%}

#loginform

#container-form {
  background: transparent;
  font-family: arial;
}

h1 {
  font-size: 24px;
  color: white;
  text-decoration: underline;
  margin-bottom: 30px;
}

a {
  color: coral;
}

#form {
  margin: 0 auto;
  text-align: center;
}

input {
  background-color: transparent;
  padding: 10px;
  margin: 0;
  border: 3px solid white;
  border-radius: 20px;
  width: 200px;
}
input.long {
  width: 346px;
}
input:focus {
  outline: 0;
  border-color: coral;
}

button {
  padding: 10px 20px;
  margin: 0;
  border-radius: 25px;
  margin-top: 20px;
  background: coral;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

.floating-placeholder {
  padding-top: 20px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

.floating-placeholder label {
  position: absolute;
  line-height: 20px;
  left:5px; bottom:8px;
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
  color: coral;
  transition: all .2s;
  pointer-events: none;
}
.floating-placeholder.float label {
  bottom: 38px;
  opacity: 1;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}