#app {
  background: #000a14;
}

.has-background-darkblue {
  background: #000a14;
}

/* Login */
.vue-part {
  height: 100vh;
}

.logo {
  margin-left: 80px;
  width: 190px;
  /* opacity: 0.9; */
}

#container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  max-width: 480px;
}

.form .input {
  color: #fff;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border: 2px solid white;
  border-radius: 20px;
  width: 280px;
}

.form .input::placeholder {
  color: white;
  opacity: 0.6;
}

.form .input:focus {
  outline: 0;
  border-color: coral;
}

.btn {
  border-radius: 25px;
  background: coral;
  border-color: coral;
  color: white;
}

.btn:hover {
  background: coral;
  border-color: coral;
}