#app {
  background: #000a14;
}

.admin {
  min-height: 80vh;
}

.has-background-darkblue {
  background: #000a14;
}

.is-coral {
  background: coral;
  border: coral;
  color: #fff;
}

.is-coral:hover {
  background: rgb(248, 119, 71);
  border: rgb(248, 119, 71);
  color: #fff;
}

/* Missions */

.hero-mission {
  background-image: url('./images/astronaut-3840x2160-stars-space-galaxy-5k-17812.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

/* Login */
.vue-part {
  height: 100vh;
}

.logo {
  margin-left: 80px;
  width: 190px;
  /* opacity: 0.9; */
}

#container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  max-width: 480px;
}

.form .input {
  color: #fff;
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border: 2px solid white;
  border-radius: 20px;
  width: 280px;
}

.form .input::placeholder {
  color: white;
  opacity: 0.6;
}

.form .input:focus {
  outline: 0;
  border-color: coral;
}

.btn {
  border-radius: 25px;
  background: coral;
  border-color: coral;
  color: white;
}

.btn:hover {
  background: coral;
  border-color: coral;
}

/* Blog */

.card-blog {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card-blog:hover {
  top: -5px;
  box-shadow: 0 0 6px 2px rgba(255,255,255, 0.1);
  transition: 0.3s;
}

.card-blog .title a {
  text-transform: uppercase;
}

.card-blog .title a:hover {
  color: #3273dc;
  font-style: italic;
}
