@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

/*********** Helpers class ***********/

.titles {
  display: inline;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.card-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
  transform: scale(1.15);
}

.titles1 {
  display: inline;
  font-family: 'Anton', sans-serif;
  font-size: 2.35rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-top: 0.4rem;
}

.line {
  border-top: 3px solid coral;
}

#app {
  background: #000a14;
}

.full-page {
  min-height: 100vh;
}

.page-80 {
  min-height: 80vh;
}

a {
  color: #3273dc;
}

a:hover {
  color: #9c9c9c;
}

.has-background-darkblue {
  background: #000a14;
}

.has-background-blue {
  background:  #1a232c;
  color: #fff;
}

.has-background-blue th, .has-background-blue td {
  color: #fff;
}

.is-coral {
  background: coral;
  border: coral;
  color: #fff;
}

.is-coral:hover {
  background: rgb(248, 119, 71);
  border: rgb(248, 119, 71);
  color: #fff;
}

/*********** Missions ***********/

.hero-mission {
  background-image: url('./images/astronaut-3840x2160-stars-space-galaxy-5k-17812.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.sel select, .txt textarea {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 20px;
  width: 280px;
}

.sel select option {
  color: #000;
}

.sel select::placeholder, .txt textarea::placeholder {
  color: white;
  opacity: 0.6;
}

.sel select:focus, .txt textarea::focus {
  outline: 0;
  border-color: coral;
}



/*********** Login // Register ***********/
.vue-part {
  height: 100vh;
}

.logo {
  margin-left: 80px;
  width: 190px;
}

#container-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-size {
  max-width: 480px;
}

.form .input {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border: 2px solid white;
  border-radius: 20px;
}

.form .input::placeholder {
  color: white;
  opacity: 0.6;
}

.form .input:focus {
  outline: 0;
  border-color: coral;
}

.btn {
  border-radius: 25px;
  background: coral;
  border-color: coral;
  color: white;
}

.btn:hover {
  background: coral;
  border-color: coral;
}



/*********** Blog ***********/

.card-blog {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card-blog:hover {
  /* top: -5px; */
  box-shadow: 0 0 6px 2px rgba(255,255,255, 0.1);
  transition: 0.3s;
}

.card-blog .title a {
  text-transform: uppercase;
}

.card-blog .title a:hover {
  color: #3273dc;
  text-decoration: underline;
}

.sigle-article {
  height: 100vh;
}

.padre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  min-width: 500px;
}



/*********** Destinations ***********/

.btn-white {
  border: 2px solid white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 10px;
  width: 140px;
  color: #fff;
}